
/* Your CSS Code here. */
.container-fluid{
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-fluid .row-1{
    width: 7vw;
}
.container-fluid .row-2{
    width: 15vw;
}
.container-fluid .row-3{
    width: 30vw;
}
.container-fluid .row-4{
    width: 60vw;
}