
/* Your CSS Code here. */
.container-fluid{
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-fluid .r-1{
    width: 7vw;
}
.container-fluid .r-2{
    width: 15vw;
}
.container-fluid .r-3{
    width: 30vw;
}
.container-fluid .r-4{
    width: 60vw;
}