
/* Your CSS Code here. */
.container-fluid .row-1, .row-2, .row-3, .row-4{
    min-width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-fluid .col-sm-1 img{
    width: 7vw;
}
.container-fluid .col-sm-2 img{
    width: 15vw;
}
.container-fluid .col-sm-4 img{
    width: 30vw;
}
.container-fluid .col-sm-12 img{
    width: 60vw;
}